{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}
    <h1>{% trans "E-mail Addresses" %}</h1>
{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4">{% trans "E-mail Addresses" %}</h2>
    <hr>
{% if user.emailaddress_set.all %}
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<h2>{% trans "Add E-mail Address" %}</h2>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form|crispy }}
        <button name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>
