{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Members</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% url 'view_member' %}
            </div>
        </div>
    </div>
{% endblock %}